/*.App {
  text-align: center;
  height: 100vh;
}*/

.loader {
	position: absolute;
	top: 40%;
	left: 47%;
}

.line-graph {
	margin-top: 8px;
}

.canvasjs-chart-credit {
	display: none;
}
.canvasjs-chart-toolbar {
	display: none;
}

tr td {
	cursor: pointer;
}
